body{
padding: 0;
margin: 0;
list-style: none;
}
.main {
background-color: #f1efed;
}
.font-white {
color: #fff;
}
header {
background-color: #00c2af;
display: flex;
align-items: center;
border-bottom: 1px solid #008a7d;
color: #fff;
}
.hd-nav {
display: flex;
justify-content: center;
font-size: 1.2em;
line-height: 2;
}
.hd-nav i {
font-size: 1em;
margin-top: 0.5em;
margin-left: 0.2em;
opacity: 0.6;
}
.hd-search {
background-color: #00a595;
height: 5em;
border-radius: 3px;
color: #00dacd;
font-size: 0.5em;
display: flex;
align-items: baseline;
padding: 0px;
text-indent: 2em;
flex-grow: 1;
}
.hd-search i {
font-size: 2em;
margin-right: 1em;
}
.hd-search input {
height: 100%;
background: none;
border: none;
}
::placeholder {
color: #00dacd;
font-size: 2em;
}
.hd-user {
text-align: center;
padding: 0.4em 0;
}
.hd-user i {
font-size: 1.5em;
}
.menu {
padding: 1em;
text-align: center;
background-color: #fff;
border-bottom: 1px solid #e0d9cf;
}
.menu p {
color: #9a9aaa;
}
.menu li:nth-child(4) {
margin-bottom: 1em;
}
.menu .icon {
width: 3em;
height: 3em;
border-radius: 1.5em;
margin: auto;
}
.menu .icon1 {
background-color: #ff8905;
}
.menu .icon2 {
background-color: #ff6640;
}
.menu .icon3 {
background-color: #7089f6;
}
.menu .icon4 {
background-color: #00cdf0;
}
.menu .icon5 {
background-color: #ffbb53;
}
.top-banner {
background-color: #fff;
margin-top: 1em;
border-top: solid 1px #e0d9cf;
border-bottom: solid 1px #e0d9cf;
}
.top-banner p {
font-size: 0.8em;
color: #9a9aaa;
}
.top-banner em {
font-style: normal;
font-weight: 600;
font-size: 1.2em;
}
.top-banner .img {
background-color: #666666;
border: solid 1px #c1c1c1;
}
.top-banner .big-box {
margin: 0.5em 0;
padding: 0.2em 0 0.3em 1.2em;
box-sizing: border-box;
border-right: solid 1px #e0d9cf;
}
.top-banner .big-box em {
color: #00a500;
}
.top-banner .big-box .img {
width: 7em;
height: 7em;
}
.top-banner .mid-box {
padding: 0 0.5em 0 0;
}
.top-banner .mid-box .up-box {
box-sizing: border-box;
padding: 0.5em 2em 0.5em 1em;
border-bottom: solid 1px #e0d9cf;
}
.top-banner .mid-box .up-box em {
color: #ff3d00;
float: left;
}
.top-banner .mid-box .up-box p {
float: left;
clear: left;
}
.top-banner .mid-box .up-box .img {
width: 5em;
height: 5em;
float: right;
margin-top: -1.7em;
}
.top-banner .mid-box .l-box {
border-right: solid 1px #e0d9cf;
padding: 0.3em 1em;
}
.top-banner .mid-box .l-box .img {
width: 3em;
height: 3em;
margin: 0.3em 1.5em;
}
.pink1 {
color: #ff40a4;
}
.orange1 {
color: #ff8905;
}
.orange2 {
color: #ff6700;
}
.top-banner .mid-box .r-box {
padding: 0.5em 1.5em;
}
.top-banner .mid-box .r-box p {
margin: 0 0 0.2em 0;
}
.top-banner .mid-box .r-box .time span {
color: #fff;
display: inline-block;
text-align: center;
font-size: 0.8em;
background-color: #4b4b41;
width: 2em;
height: 1.5em;
border-radius: 3px;
}
.bottom-banner {
margin-top: 0.7em;
background-color: #fff;
border-top: solid 1px #e0d9cf;
border-bottom: solid 1px #e0d9cf;
}
.bottom-banner > div {
padding: 0.7em 0.5em 0.5em 1.5em;
color: #b6b6b6;
}
.bottom-banner .l-banner {
border-right: solid 1px #e0d9cf;
}
.bottom-banner em {
font-style: normal;
font-weight: 600;
font-size: 1.2em;
}
.yellow {
color: #ff9c00;
}
.bottom-banner .img {
width: 5em;
height: 5em;
background-color: #666666;
box-sizing: border-box;
border: solid 1px #c1c1c1;
float: right;
margin-top: -4em;
}
.list {
margin-top: 0.7em;
padding-left: 0.5em;
background-color: #fff;
}
.list .title {
font-size: 1.2em;
font-weight: 600;
padding: 0.2em 0.3em;
}
.list li {
border-top: solid 1px #e0d9cf;
padding: 0.5em 0.5em 0.5em 0;
display: flex;
}
.list li .img {
width: 7.5em;
height: 5.8em;
background-color: #666666;
}
.list .tap:before {
content: "";
display: block;
position: absolute;
left: -23px;
top: 1.2px;
width: 70px;
border: solid 18px transparent;
border-bottom: solid 18px #00c3af;
transform: rotate(-45deg);
}
.list .tap:after {
content: "免预约";
position: absolute;
top: 18px;
display: block;
color: #fff;
font-size: 0.5em;
transform: rotate(-45deg);
}
.list li .r-col {
padding: 0.1em 0.5em;
width: 100%;
}
.list li .r-col .li-title {
font-size: 1.1em;
}
.list li .r-col .li-content {
color: #9a9aaa
}
.list li .r-col .info {
margin-top: 0.7em;
display: flex;
flex-direction: row;
}
.list li .r-col .info .price {
color: #00c2af;
}
.list li .r-col .info .tag {
border: solid 1px #ff9a00;
padding: 0 0.2em;
color: #ff9a00;
border-radius: 3px;
margin-left: 1em;
height: 1.8em;
line-height: 1.7;
}
.list li .r-col .info .market-price {
margin-left: 0.5em;
height: 1.8em;
line-height: 2.3;
color: #9a9aaa;
}
.list li .r-col .info .sold {
flex-grow: 1;
text-align: right;
color: #9a9aaa;
}
.big-price {
font-size: 1.5em;
font-weight: 600;
}
.listlast {
background-color: #8fc6ea;
margin-top: -0.65em;
line-height: 3;
}
.listlast * {
color: #00b2c9;
margin-left: 0.7em;
font-weight: bold;
}
.listlast i {
float: right;
margin-right: 0.3em;
}