body {
	width: 1010px;
	padding: 20px;
	word-spacing: 2px;
}
li {
	list-style: none;
}
header>.m-tl.ui-grid-row {
	border-bottom: 5px solid #2890cb;
	width: 1010px;
}
header>.m-tl>.ui-grid-2,.m-tl>.ui-grid-21 {
	margin-bottom: 0;
}
header>.m-tl>.m-tab>span {
	background: #2890cb;
	color: #fff;
	font-size: 12px;
  	font-weight: bold;
    font-family: 'Noto Sans JP', 'Noto Sans JP IE', sans-serif;	
  	display: block;
	text-align: center;
	border-radius: 3px 3px 0 0;
  	padding: 4px 10px 4px;
}
header>.m-tl>.m-tip>span {
 	background: #fe570a;
 	color: #fff;
  	font-size: 15px;
    font-family: 'Noto Sans JP', 'Noto Sans JP IE', sans-serif;	
  	text-align: center;
  	border-radius: 3px;
  	padding: 2px 4px;
}
header>.m-tl>.m-fun {
  	color: #002cbd;
  	border: 1px solid #b2b2b2;
  	background: #f6f6f6;
  	font-size: 13px;
  	font-family: 'Noto Sans JP', 'Noto Sans JP IE', sans-serif;
  	text-align: center;
  	border-radius: 3px;
  	padding: 2px 4px;
}
header>.m-tl>.m-fun>img{
  	width: 17px;
  	height: auto;
  	margin-bottom: -3px;
}
header>.m-fun>.ui-grid-2 {
	margin-right: 0;
    margin-left: 9px;
}

header>.m-bd {
  	border-left: 1px solid #cbcbcb;
  	border-right: 1px solid #cbcbcb;
  	border-bottom: 1px solid #cbcbcb;
  	height: 75px;
  	width: 1008px;
}
header>.m-bd>.ui-grid-row {
  	width: 1008px;
}
.m-cont {
  	background: #f8f9f9;
  	width: 100%;
  	height: 49px;
  	border-bottom: 1px solid #cbcbcb;
  	font-family: 'Noto Sans JP', 'Noto Sans JP IE', sans-serif;
}

.m-cont>li {
  	list-style: none;
  	height: 50%;
  	margin-left: 10px;
}

.time1 {
  	font-size: 15px;
  	color: red;
  	font-weight: bold;
}
.dian {
  	font-size: 12px;
  	color: red;
}
.money {
  	font-size: 12px;
}
.money1 {
  	font-size: 12px;
  	color: red;
  	font-weight: bold;
}
.alltime {
  	font-size: 12px;
  	font-weight: bold;
}

.m-rig {
  	background: #fffbde;
  	width: 100%;
  	height: 30px;
  	text-align: right;
  }
.m-rig>img {
  	width: 15px;
  	height: auto;
  	margin: 5px 5px -3px 0;
}
.rtext {
  	text-decoration: underline;
  	color: #002cdb;
  	margin-right: 10px;
}

section {
  	height: 230px;
  	font-family: 'Noto Sans JP', 'Noto Sans JP IE', sans-serif;
}	
section>.ui-grid-row {
  	width: 1010px;
}
section>.m-hd0>span {
  	background: #cedce8;
  	color: #607a90;
  	margin: 0 1px 1px 0;
  	text-align: center;
}
section>.m-hd0>.ui-grid-13 {
  	padding:0 4px 0 3px;
}
section>.m-hd0>.ui-grid-3 {
  	padding:0 6px 0 6px;
}
.m-hd1 {
  	background: #f2f2f2;
  	border-left: 1px solid #cbcbcb;
  	border-right: 1px solid #cbcbcb;
  	border-bottom: 1px solid #cbcbcb;
}
.m-hd2 {
  	height: 50px;
}
.area {
  	display: inline-block;
  	margin: 6px 0 8px 79px;
}
.area>img {
  	width: 16px;
  	height: auto;
  	margin-bottom: -3px;
}
.area>span {
  	font-size: 16px;
  	font-weight: bold;
}
.m-hd2>span {
  	display: flex;
}
.m-time {
  	width: 105px;
  	height: 50px;
}
.m-time>li {
  	font-size: 12px;
  	text-align: center;
}
.m-time>li:first-child {
  	font-weight: bold;
  	padding-top: 10px;
}
.ad1>img {
  	width: 16px;
  	height: auto;
}
.ad1>span {
  	font-weight: bold;
}
.m-ad1 {
  	display: flex;
  	margin-left: 3px;
}
.ad1 {
  	margin: 15px;
}
.plc {
  	width: 160px;
  	margin: 6px;
  	color: #0069a3;
}
.m-hd2>span.ui-grid-3 {
  	width: 110px;
  	height: 100%;
  	border-left: 1px solid #cbcbcb;
  	margin-bottom: 0;
  	display: block;
  	text-align: center;
}
.m-hd2>span.ui-grid-13 {
  	margin-bottom: 0;
}
.ad2 {
  	margin: 16px;
  	text-align: center;
  	font-weight: bold;
  	font-size: 15px;
}

.m-hd3>span.ui-grid-13,.ui-grid-3,.ui-grid-8 {
  	margin-bottom: 0;
}
.m-hd3 {
  	height: 50px;
  	background: #f2f2f2;
  	border-style: solid;
  	border-color: #cbcbcb;
  	border-width: 1px;
}
.m-rd {
  	margin-top: 6px;
}
.m-rd>.area {
  	margin-left: -6px;
   	display: inline-block;
}
.rd1 {
  	float: left;
  	margin: 12px 38px;
}
.m-hd3>span>li {
  	text-align: right;
}
.m-hd3>span.ui-grid-8 {
  	margin: 7px 0;
  	padding-left: 60px;
}
.plc>li:nth-child(1) {
  	text-decoration: underline;
}
.plc>li:nth-child(2) {
  	display: inline-block;
  	padding: 0 5px;
  	background: #0069a3;
  	color: #fff;
  	border-radius: 5px;
}
.ad3 {
  	text-align: center;
  	margin-top: 15px;
}
.m-hd2>span:nth-child(4)>.ad3 {
	margin-top: 6px;
}
.m-hd2>span:nth-child(5)>.ad3 {
  	margin-top: 16px;
}
.bw {
	color: #0099ff;
}
.bu {
  	color: #b59466;
}