.main{
    background-color: #f2f2f2;
    border-color: #c0c0c0;
    height: 770px;
    width: 1200px;
    border:1px solid #c0c0c0;
    padding:10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}
.body{
    background-color:white;
    border:1px solid #c0c0c0;
    height: 375px;
    width: 390px;
    display: flex;
    flex-direction: column;
}
.bottom1{
    height: 90px;
    width: 370px;
    display: flex;
    flex-direction: column;
    padding:10px;
	font-family: tahoma,arial,'Hiragino Sans GB',SimSun,sans-serif;
	font-weight: 500;
}
.box1{
    height: 18px;
    width: 370px;
    margin-bottom: 12px;
}
.box2{
    height: 30px;
    width: 370px;
}
.box1-1{
	margin-left: 5px;
	font-size: 15px;
}
.box1-2-1{
	margin-left:5px;
	font-size:15px;
	color:#F72862;
}
.box1-2-2{
	margin-left:2px;
	font-size:15px; 
	color:gray;
}
.box2-1-1{
	margin-left:1px;
	font-size:20px;
	color:#F72862;
}
.box2-1-2{
	margin-left:-5px;
	font-size:32px;
	color:#F72862;
}
.box2-1-3{
	margin-left:5px;
	font-size:15px;
	text-decoration: line-through;
	color:gray;
}
.box2-1-4{
	margin-left:135px;
	font-size:15px;
	color:#F72862;
}
.box2-1-5{
	margin-left:-2px;
	font-size:15px;
	color:gray;
}